/****** Objeto:  Database [erasmus_db]    Data do Script: 30/07/2026 10:35:09 ******/
CREATE DATABASE [erasmus_db]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** Os scripts das configurações no escopo do banco de dados no Azure devem ser executados dentro da conexão de banco de dados de destino. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Objeto:  Table [dbo].[Banco de erasmus_dados]    Data do Script: 30/07/2026 10:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banco de erasmus_dados](
	[Aluno] [nvarchar](max) NULL,
	[País] [nvarchar](max) NULL,
	[Instituição] [nvarchar](max) NULL,
	[Cadeira] [nvarchar](max) NULL,
	[Creditações] [nvarchar](50) NULL,
	[link] [nvarchar](max) NULL,
	[Nome] [nvarchar](100) NULL,
	[Nome_nãao_está_em_Ucs_FEUP] [nvarchar](max) NULL,
	[Código] [nvarchar](max) NULL,
	[Sigla] [nvarchar](max) NULL,
	[Semestre] [nvarchar](50) NULL,
	[Créditos] [nvarchar](50) NULL,
	[id_bruto] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bruto] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[CadeirasEstrangeiras]    Data do Script: 30/07/2026 10:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CadeirasEstrangeiras](
	[id_cadeira_estrangeira] [int] IDENTITY(1,1) NOT NULL,
	[id_instituicao] [int] NULL,
	[nome_cadeira_estrangeira] [nvarchar](510) NOT NULL,
	[ects_estrangeira] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cadeira_estrangeira] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[CadeirasFEUP]    Data do Script: 30/07/2026 10:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CadeirasFEUP](
	[id_cadeira_feup] [int] IDENTITY(1,1) NOT NULL,
	[nome_cadeira_feup] [nvarchar](510) NOT NULL,
	[ects_feup] [decimal](5, 2) NULL,
	[semestre_de_ocorrencia] [nvarchar](100) NULL,
	[sigla] [varchar](20) NULL,
	[codigo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cadeira_feup] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Equivalencias]    Data do Script: 30/07/2026 10:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equivalencias](
	[id_equivalencia] [int] IDENTITY(1,1) NOT NULL,
	[id_instituicao] [int] NULL,
	[id_cadeira_feup] [int] NULL,
	[numero_estudante_autor] [int] NULL,
	[ano_letivo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_equivalencia] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Equivalencias_Cadeiras_Relacao]    Data do Script: 30/07/2026 10:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equivalencias_Cadeiras_Relacao](
	[id_equivalencia] [int] NOT NULL,
	[id_cadeira_estrangeira] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_equivalencia] ASC,
	[id_cadeira_estrangeira] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Instituicoes]    Data do Script: 30/07/2026 10:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instituicoes](
	[id_instituicao] [int] IDENTITY(1,1) NOT NULL,
	[nome_instituicao] [nvarchar](510) NOT NULL,
	[id_pais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_instituicao] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[LinksCadeirasEstrangeiras]    Data do Script: 30/07/2026 10:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinksCadeirasEstrangeiras](
	[id_link] [int] IDENTITY(1,1) NOT NULL,
	[id_cadeira_estrangeira] [int] NULL,
	[link_url] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_link] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Paises]    Data do Script: 30/07/2026 10:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[nome_pais] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nome_pais] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CadeirasEstrangeiras]  WITH CHECK ADD FOREIGN KEY([id_instituicao])
REFERENCES [dbo].[Instituicoes] ([id_instituicao])
GO
ALTER TABLE [dbo].[Equivalencias]  WITH CHECK ADD FOREIGN KEY([id_cadeira_feup])
REFERENCES [dbo].[CadeirasFEUP] ([id_cadeira_feup])
GO
ALTER TABLE [dbo].[Equivalencias]  WITH CHECK ADD FOREIGN KEY([id_instituicao])
REFERENCES [dbo].[Instituicoes] ([id_instituicao])
GO
ALTER TABLE [dbo].[Equivalencias_Cadeiras_Relacao]  WITH CHECK ADD FOREIGN KEY([id_cadeira_estrangeira])
REFERENCES [dbo].[CadeirasEstrangeiras] ([id_cadeira_estrangeira])
GO
ALTER TABLE [dbo].[Equivalencias_Cadeiras_Relacao]  WITH CHECK ADD FOREIGN KEY([id_equivalencia])
REFERENCES [dbo].[Equivalencias] ([id_equivalencia])
GO
ALTER TABLE [dbo].[Instituicoes]  WITH CHECK ADD FOREIGN KEY([id_pais])
REFERENCES [dbo].[Paises] ([id_pais])
GO
ALTER TABLE [dbo].[LinksCadeirasEstrangeiras]  WITH CHECK ADD FOREIGN KEY([id_cadeira_estrangeira])
REFERENCES [dbo].[CadeirasEstrangeiras] ([id_cadeira_estrangeira])
GO
